//
// Typography
//
$fonts-family-base: "Merriweather", serif;
$fonts-size-base: 14px;

//
// Colours
//
$colour-black: #333333;
$colour-blue: #3C8FCD;
$colour-navy: #364967;

$colour-grey-bright: #F6F5F3;
$colour-grey-light: #E5E5E5;
$colour-grey: #666666;
$colour-white: #ffffff;
$colour-black: #333;

//
// Responsive Media Queries
//
$mq-level1: 1200px;
$mq-level2: 1000px;
$mq-level3: 725px;
$mq-level4: 580px;
$mq-level5: 360px;
