@import "compass";
@import "variables";

@font-face {
  font-family: 'din_blackregular';
  src: url( $fonts-directory + '/din-black-webfont.eot');
  src: url( $fonts-directory + '/din-black-webfont.eot?#iefix') format('embedded-opentype'),
       url( $fonts-directory + '/din-black-webfont.woff') format('woff'),
       url( $fonts-directory + '/din-black-webfont.ttf') format('truetype'),
       url( $fonts-directory + '/din-black-webfont.svg#din_blackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "elements/layout";

/**
 * UI elements
 */
@import "elements/header";
@import "elements/devices";
@import "elements/figure";
@import "elements/slides";
@import "elements/projects";
@import "elements/posts";
@import "elements/top-bar";
@import "elements/tip";

/**
 * Pages of the website
 */
@import "pages/home";
@import "pages/project";

/**
 * Responsive styles, include element's resposnive aspects
 */
@import "responsive/desktop";
@import "responsive/tablet";
@import "responsive/mobile";
