/**
 * Typography
 */
$fonts-directory: "../fonts";
$fonts-family-base: "Merriweather", serif;
$fonts-family-din-black: "din_blackregular";

$fonts-size-base: 14px;

/**
 * Colours
 */
$colour-blue: #3C8FCD;
$colour-navy: #364967;

$colour-grey-bright: #F9F9F9;
$colour-grey-light: #E5E5E5;
$colour-grey: #666666;
//
//
$colour-white: #ffffff;
$colour-black: #333;
