.header{
	z-index: 10;
	position: fixed;
	left: 15px;
	top: 20px;
	width: 40px;

	.no-touch &:hover{
		width: 200px;

		.header__label{
			display: inline-block;
		}
	}
}

.header__list{
	list-style: none;
	padding: 0;
	margin: 0;

	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(wrap);
	@include justify-content(top);
	@include align-items(flex-start);
	@include box-orient(vertical);
}

.header__item{
  @include order(0);
  @include flex(0 1 auto);
  @include align-self(auto);

	list-style: none;
	margin-bottom: 20px;
}

.header__item--message-me,
.header__item--twitter,
.header__item--profile,
.header__item--speech{
	@extend .header__item;
}

.header__item--home{
	@extend .header__item;
	font-family: "din_blackregular";

	.header__link{
		color: #ffffff;
		background: #3C8FCD;
		padding: 0;
		line-height: 1;
	}

	img{
		width: 40px;
		height: 40px;
		vertical-align: top;
	}

	.header__label{
		font-size: 1.375em;
		vertical-align: top;
		margin-top: 5px;
	}
}

.header__link{
	display: inline-block;
	text-align: center;
	color: #666666;
	background: #E5E5E5;
	padding: 8px 11px;
	z-index: 1;
	font-size: 1.35em;
	text-decoration: none;
	margin: 0;

	@include alter-box-sizing;

	max-width: 40px;
	max-height: 40px;
	width: 40px;

	&:hover{
		color: #ffffff;
		background: #666666;
	}
}

.header__icon{

}

.header__label{
	display: none;
	margin: 0 0 0 1em;
	@include text-shadow( 1px 1px 0px rgba(255,255,255,0.3) );


	.is-over-picture &{
		color: #ffffff;
		@include text-shadow( 1px 1px 0px rgba(0,0,0,0.3) );
	}
}

.header__item--speech{
	display: none;

	&.active{
		.header__link{
			color: #ffffff;
			background: #666666;
		}
	}
}

.speech{
	.header__item--speech{
		display: block;
	}
}
