//
// @ 724px
//

@media screen and (max-width: $mq-level3){

	.header{
		top: 0;
		left: 0;
		width: 100%;

		.no-touch &:hover{
			.header__label{
				display: none;
			}
		}
	}

	.header__item{
		margin: 0;
	}

	.header__list{
		top: 0;
		width: 100%;
		@include flex-direction(row);
	}

	.header__link{
		margin: 0;
	}

	.header__item--home{
		@include flex(1 0 0);

		.header__label{
			color: #ffffff;
			display: inline-block;
		}
	}

}
