---
title: "Yo Assemble these"
body_class: "post"
posted_at: 22nd January 2014
tags:
    - post
---
<section class="">
    <article class="container">
        <h1 class="title">Yo Assemble these</h1>
        <small class="date-stamp">22nd January 2013</small>

        <p>Example Assemble integration to your existing Yeoman project.</p>

        <h3>Installation and Basic configuration</h3>
        <p>If you are haven't generated a yeoman app yet, go ahead, use any generator you want (preferably the Webapp generator)</p>

        <p>When the blind man with a wad of lottery tickets in his hand entered the bus
        I feigned disinterest and looked away purposefully like I always do when coming
        face to face with anyone who looked remotely like an alms seeker. This one was
        no beggar but the combined effect of his blindness, shabby shirt, and the wad
        of lottery tickets in his hand was enough to put me off.</p>
        <p>From the ease of his movement within the bus, I could make out that this was a daily exercise for him. He would lean gently at the very edge of the seat’s headrest, making sure not to inconvenience the passenger and balance himself before offering his wares. Once the result was known he would inch the lower half of his body away from the seat and move forward to repeat the exercise. Each time the clipper board with the 6 or 7 remaining tickets were thrust in front of me I didn't have to even think before doing what I did — turn my face away.I had enough problems in my mind, or so I thought.</p>

        <p>When the blind man with a wad of lottery tickets in his hand entered the bus
        I feigned disinterest and looked away purposefully like I always do when coming
        face to face with anyone who looked remotely like an alms seeker. This one was
        no beggar but the combined effect of his blindness, shabby shirt, and the wad
        of lottery tickets in his hand was enough to put me off.</p>
        <p>From the ease of his movement within the bus, I could make out that this was a daily exercise for him. He would lean gently at the very edge of the seat’s headrest, making sure not to inconvenience the passenger and balance himself before offering his wares. Once the result was known he would inch the lower half of his body away from the seat and move forward to repeat the exercise. Each time the clipper board with the 6 or 7 remaining tickets were thrust in front of me I didn't have to even think before doing what I did — turn my face away.I had enough problems in my mind, or so I thought.</p>
    </article>
</section>
