/**
 * One image + Title
 */

.project-section--with-title{
	@extend .project-section;

	h1{
		padding: 0;
		margin-top: 0;
		text-align: center;
		line-height: 1.5;
		margin-bottom: 1em;
		border-bottom: 1px solid #f0f0f0;
	}

	small{
		color: $colour-grey;
		font-style: italic;
		display: block;
		font-size: 0.5em;
		line-height: 3;
		margin: 0 5%;
	}
}
