<ul class="devices-list">

    <li class="devices-list__item--first-child">
        <a class="devices-list__link desktop" href="#">
            <span class="devices-list__item-icon fa fa-location-arrow"></span> Mouse
        </a>
    </li>

    <li class="devices-list__item">
        <a class="devices-list__link motion" href="#">
            <span class="devices-list__item-icon fa fa-hand-o-up"></span> Leap Motion
        </a>
    </li>

    <li class="devices-list__item">
        <a class="devices-list__link speech" href="#">
            <span class="devices-list__item-icon fa fa-microphone"></span> Speech
        </a>
    </li>

</ul>
