<ul class="devices-list">

    <li class="devices-list__item--first-child">
        <a class="devices-list__link desktop" href="#">
            <svg class="devices-list__item-icon" viewBox="0 0 36 36" style="width: 36px; height: 36px; fill: #ffffff;">
                <use xlink:href="#icon-location" x="0" y="0">
            </svg> Mouse
        </a>
    </li>

    <li class="devices-list__item">
        <a class="devices-list__link motion" href="#">
            <svg class="devices-list__item-icon" viewBox="0 0 36 36" style="width: 36px; height: 36px; fill: #ffffff;">
                <use xlink:href="#icon-hand" x="0" y="0">
            </svg> Leap Motion
        </a>
    </li>

    <li class="devices-list__item">
        <a class="devices-list__link speech" href="#">
            <svg class="devices-list__item-icon" viewBox="0 0 36 36" style="width: 36px; height: 36px; fill: #ffffff;">
                <use xlink:href="#icon-microphone" x="0" y="0">
            </svg> Speech
        </a>
    </li>

</ul>
