<div class="tip">
    <div class="tip__arc">
        <svg style="width: 180px; height: 180px">
            <path id="arc1" fill="none" stroke="#446688" stroke-width="8" />
        </svg>
    </div>
</div>

<div class="top-bar">
    <div class="speech_output">
        <span class="speech_output__text"></span>

        <a href="#" class="speech_output__retry-link">
            <svg class="speech_output__icon" viewBox="0 0 36 36">
                <use xlink:href="#icon-refresh" x="0" y="0">
            </svg>
        </a>
    </div>

    <!--[if lt IE 9]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
</div>

<header class="header">
    <nav>
        <ul class="header__list">
            <li class="header__item--home">
                <a class="header__link" href="/">
                    <img src="/images/btn_logotype.png" alt="">
                </a>
                <svg class="header__label--logotype" viewBox="0 0 77 28">
                    <use xlink:href="#logotype" x="0" y="0">
                </svg>
            </li>

            <li class="header__item--message-me">
                <a class="header__link" href="mailto:hello@hustle-ux.com">
                    <svg class="header__icon" viewBox="0 0 36 36">
                        <use xlink:href="#icon-message">
                    </svg>
                </a>
                <strong class="header__label">Message me</strong>
            </li>

            <li class="header__item--twitter">
                <a class="header__link" href="http://twitter.com/bobek_balinek" target="_blank">
                    <svg class="header__icon" viewBox="0 0 36 36">
                        <use xlink:href="#icon-twitter">
                    </svg>
                </a>
                <strong class="header__label">@bobek_balinek</strong>
            </li>

            <li class="header__item--profile">
                <a class="header__link" href="/#profile">
                    <svg class="header__icon" viewBox="0 0 36 36">
                        <use xlink:href="#icon-profile">
                    </svg>
                </a>
                <strong class="header__label">Profile</strong>
            </li>

            <li class="header__item--speech speech-on">
                <a class="header__link" href="#speech">
                    <svg class="header__icon" viewBox="0 0 36 36">
                        <use xlink:href="#icon-microphone">
                    </svg>
                </a>
                <strong class="header__label">Speak a command</strong>
            </li>

        </ul>
    </nav>
</header>
