<div class="tip"></div>

<div class="top-bar">
    <p class="speech_output"></p>

    <!--[if lt IE 9]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
</div>

<header class="header">
    <nav>
        <ul class="header__list">
            <li class="header__item--home">
                <a class="header__link" href="/">
                    <img src="/images/btn_logotype.png" alt="">
                </a>
                <strong class="header__label">HUSTLE</strong>
            </li>

            <li class="header__item--message-me">
                <a class="header__link" href="#">
                    <span class="header__icon fa fa-envelope"></span>
                </a>
                <strong class="header__label">Message me</strong>
            </li>

            <li class="header__item--twitter">
                <a class="header__link" href="#">
                    <span class="header__icon fa fa-twitter"></span>
                </a>
                <strong class="header__label">@bobek_balinek</strong>
            </li>

            <li class="header__item--profile">
                <a class="header__link" href="/#profile">
                    <span class="header__icon fa fa-user"></span>
                </a>
                <strong class="header__label">Profile</strong>
            </li>

            <li class="header__item--speech speech-on hidden">
                <a class="header__link" href="#speech">
                    <span class="header__icon fa fa-microphone"></span>
                </a>
                <strong class="header__label">Speak a command</strong>
            </li>

        </ul>
    </nav>
</header>
