<ul class="projects-list">
    <li class="projects-list__item">
        <a class="projects-list__link" href="/projects/adobe.html">
            <img class="projects-list__thumbnail" src="/images/thumb1.png" alt="Adobe Reel Cut">
            <h4 class="projects-list__heading"><span class="keyword--hidden">Project 1:</span> Adobe Reel Cut</h4>
        </a>
    </li>

    <li class="projects-list__item">
        <a class="projects-list__link" href="/projects/bbc.html">
            <img class="projects-list__thumbnail" src="/images/thumb4.png" alt="BBC Family Hub">
            <h4 class="projects-list__heading"><span class="keyword--hidden">Project 2:</span> BBC Family Hub</h4>
        </a>
    </li>

    <li class="projects-list__item">
        <a class="projects-list__link" href="/projects/enrll.html">
            <img class="projects-list__thumbnail" src="/images/thumb3.png" alt="Enrll - Learn from people">
            <h4 class="projects-list__heading"><span class="keyword--hidden">Project 3:</span> Enrll - Learn from people</h4>
        </a>
    </li>
</ul>

<ul class="projects-list">
    <li class="projects-list__item">
        <a class="projects-list__link" href="/projects/adidas.html">
            <img class="projects-list__thumbnail" src="/images/thumb5.png" alt="Adidas Sync">
            <h4 class="projects-list__heading"><span class="keyword--hidden">Project 4:</span> Adidas Sync</h4>
        </a>
    </li>

    <li class="projects-list__item">
        <a class="projects-list__link" href="/projects/learn-the-slr.html">
            <img class="projects-list__thumbnail" src="/images/thumb2.png" alt="Learn the SLR app">
            <h4 class="projects-list__heading"><span class="keyword--hidden">Project 5:</span> Learn the SLR app</h4>
        </a>
    </li>

    <li class="projects-list__item">
        <a class="projects-list__link" href="/projects/apple.html">
            <img class="projects-list__thumbnail" src="/images/thumb6.png" alt="Apple - Think Different Think iPad">
            <h4 class="projects-list__heading"><span class="keyword--hidden">Project 6:</span> Apple - Think Different Think iPad</h4>
        </a>
    </li>
</ul>
