<ul class="posts-list">
    <li class="posts-list__item">
        <a class="posts-list__link" href="/posts/01-yo-assemble-these.html">
            <span class="keyword--hidden">Post 1:</span>
            Yo assemble these
            <small class="posts-list__date">22nd March 2013</small>
            <span class="posts-list__icon fa fa-chevron-right"></span>
        </a>
    </li>

    <li class="posts-list__item">
        <a class="posts-list__link" href="/posts/01-yo-assemble-these.html">
            <span class="keyword--hidden">Post 2:</span>
            Multiple Video.js clips
            <small class="posts-list__date">22nd March 2013</small>
            <span class="posts-list__icon fa fa-chevron-right"></span>
        </a>
    </li>

    <li class="posts-list__item">
        <a class="posts-list__link" href="/posts/01-yo-assemble-these.html">
            <span class="keyword--hidden">Post 3:</span>
            Node.js and redirecting back after login
            <small class="posts-list__date">22nd March 2013</small>
            <span class="posts-list__icon fa fa-chevron-right"></span>
        </a>
    </li>
</ul>
