<div class="slider">

    <ul class="slider__collection--motion">
       <li class="slider__item">
            <section class="slider__item-container">
                <article class="screen1">
                    {{> svg.motion.step1 }}
                    <h2>Plug-in your Leap Motion device now...</h2>
                    <strong>or watch it in action <a href="#">here.</a></strong>
                </article>
            </section>
       </li>
       <li class="slider__item">
            <section class="slider__item-container">
                <article class="screen2">
                    {{> svg.motion.step2 }}
                    <h2>Use your pointing finger to move the cursor around.</h2>
                    <strong>Keep it still if you want to select and click.</strong>
                </article>
            </section>
       </li>
       <li class="slider__item">
            <section class="slider__item-container">
                <article class="screen3">
                    {{> svg.motion.step3 }}
                    <h2>Extend your palm and move up and down to scroll the page.</h2>
                    <strong>Keep all of your 5 fingers out.</strong>
                </article>
            </section>
       </li>
    </ul>

    <ul class="slider__collection--speech">
       <li class="slider__item">
            <section class="slider__item-container">
                <article class="screen1">
                    {{> svg.speech.step1.ok }}
                    <h2 id="speechSuccessText">Great, your browser does support speech recognition!</h2>
                    <h2 id="speechErrorText">Sorry! Only Chrome for Desktop supports speech recognition.</h2>
                    <strong>Continue to the next slide, or watch it in action <a href="#">here.</a></strong>
                </article>
            </section>
       </li>
       <li class="slider__item">
            <section class="slider__item-container">
                <article class="screen1">
                    {{> svg.speech.step2 }}
                    <h2>To start, click the microphone button and start speaking.</h2>
                    <strong>Make sure you speak fairly loud.</strong>
                </article>
            </section>
       </li>
       <li class="slider__item">
            <section class="slider__item-container">
                <article class="screen1">
                    {{> svg.speech.step3 }}
                    <h2>The key commands and keywords are highlighted across the site.</h2>
                    <strong>You can speak them at any point. Enjoy!</strong>
                </article>
            </section>
       </li>
    </ul>

    <a href="#" class="slider__controls--prev">
        <svg class="slider__controls-icon" viewBox="0 0 36 36">
            <use xlink:href="#icon-left" x="0" y="0">
        </svg>
    </a>
    <a href="#" class="slider__controls--next">
        <svg class="slider__controls-icon" viewBox="0 0 36 36">
            <use xlink:href="#icon-right" x="0" y="0">
        </svg>
    </a>
</div>
