/**
 * Home page
 */

.landing{
	overflow: hidden;
	background: url('../images/bg-img2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	h1{
		border: none;
		margin-top: 5em;
		line-height: 1.5;
	}

	.container{
	  opacity: 1;

	  -webkit-transition: opacity 0.3s ease-out;
	  -moz-transition: opacity 0.3s ease-out;
	  -ms-transition: opacity 0.3s ease-out;
	  -o-transition: opacity 0.3s ease-out;
	  transition: opacity 0.3s ease-out;

		&.off{
			opacity: 0;
		}
	}
}

/**
 * Touch enabled devices (this should be in a media Query tbh)
 */
.touch{

	.landing h1{
		margin: 0;
	}

}
