.page-wrap > section{
	width: 100%;
	min-height: 100%;
	position: relative;
	padding: 1em 0;
	text-align: center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.page-wrap > section:nth-child(even){
	background: $colour-grey-bright;
}


.landing{
	h1{
		border: none;
		margin-top: 5em;
		line-height: 1.5;
	}
}

.logotype{
	width: 230px;
}
