/**
 * Home page
 */

.landing{
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
	background: url('/images/bg-img.jpg') no-repeat;
	background-size: cover;

	h1{
		border: none;
		margin-top: 5em;
		line-height: 1.5;
	}
}

/**
 * Touch enabled devices (this should be in a media Query tbh)
 */
.touch{

	.landing h1{
		margin: 0;
	}

}
