/**
 * Project page
 */

.project h1{
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 1.5em;
	margin-top: 0;
	text-align: center;
}

.project-section__with-title,
.project-section__with-title h1,
.project-section{
	padding: 0;
}

.project section{
	padding: 0;

	display: -ms-flexbox;
  display: -webkit-flex;

	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content:center;

}
