---
title: "Adidas Sync"
body_class: "project"
tags:
    - project
---
<section id="brief" class="project-section--with-title">
    <article class="container">
        <h1 class="title">Adidas Sync <small>&mdash; Gamified sports &mdash;</small></h1>

        <figure>
            <img src="/images/adidas/slide_02.jpg" alt="">
            <figcaption>
                <h3 class="title">Brief</h3>
                This project was about getting more high-school children into sports as part of a post-olympic campaign. The idea of gamification was very appealing as a way of incentivising young into becoming challenged and motivated to do more sports at school.
            </figcaption>
        </figure>
    </article>
</section>

<section id="concept" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/adidas/trading-01.jpg" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Trading cards used to be a cool thing to do in 90s, since the internet and console gaming the idea or hype for trading football cards has almost vanished.
                With the rise of mobile apps and constant internet connectivity brining trading cards into digital world could be a good way to get children interested.
                A student would use his phone to track his sport activities and receive trading cards or rewards from his sports teacher.
            </figcaption>
        </figure>
    </article>
</section>

<section id="sketchbook" class="project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/adidas/sketchbook-01.png" alt="">
            <img src="/images/adidas/sketchbook-02.png" alt="">
            <img src="/images/adidas/sketchbook-03.png" alt="">
        </figure>
    </article>
</section>

<section id="brand" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/adidas/brand-01.png" alt="">
            <figcaption>
                <h3 class="title">Brand</h3>
                The idea for Adidas Sync and its branding came from the community aspect of trading cards, students would usually meet in a group, sync their awards and trading cards.
            </figcaption>
        </figure>
    </article>
</section>

<section id="interaction" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/adidas/schematics-01.png" alt="">
            <figcaption>
                <h3 class="title">Interaction</h3>

                <p>In terms of interaction, theres three main areas that the app is tied around:
                    Rewards, meaning the trading cards,
                    Challenges, a list of challenges set by the teacher that will get student a reward
                    and Community, your social circle whether its friends you add or have on Facbeook and Twitter.</p>

                <p>The teacher's application is much more of a managment tool,
                a list of students grouped by class and year group is presented and teacher can oversee how his students perform.</p>
            </figcaption>
        </figure>
    </article>
</section>

<section id="interaction" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/adidas/wireframes-01.png" alt="">
            <figcaption>
                <h3 class="title">Wireframing</h3>

                In terms of the user interface, wireframes have helped me
                to iterate over certain layouts and modules.
                The goal was to make the user journey as short as possible and only present key information at a time.
                Since the target platform is touch devices use of gestures should aid the overall interaction.
            </figcaption>
        </figure>
    </article>
</section>

<section id="visual-design" class="project-section--double-image">
    <article class="container">
        <figure>
            <img src="/images/adidas/slide_02.jpg" alt="">
            <img src="/images/adidas/visual-01.png" alt="">
            <figcaption>
                <h3 class="title">Visual design</h3>

                The goal for visual style and overall atmosphere was to keep things simple and emphasise any controls used to interact, like sliders and buttons when submitting results of an activity.
                The cards would be designed, following the conventions of original trading cards - athlete's picture and a table with personal goals.
                Any gamification elements and iconogrpahy is simplified and colourful.
            </figcaption>
        </figure>
    </article>
</section>

<section id="build" class="project-section">
    <article class="container">
        <figure>
            <iframe src="http://player.vimeo.com/video/61019377?title=0&amp;byline=0&amp;portrait=0" width="800" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <figcaption>
                <h3 class="title">The Build</h3>
                I've used Adobe Flex technology to export a working Flash-based app into an Android aplication that's ready to distribute. It worked well, the app felt like a native one, and the support for swipe gestures was great too, but the key challenge was to adapt the design to different screen sizes.
            </figcaption>
        </figure>
    </article>
</section>

<section class="more-section">
    <a href="/projects/learn-the-slr.html">
        Learn The SLR app
        <small>Next project</small>
    </a>
</section>
