---
title: "Adobe Reel Cut"
body_class: "project"
tags:
    - project
---
<section id="brief" class="page-section project-section project-section--with-title">
    <article class="container">
        <h1 class="title">Adobe Reel Cut</h1>

        <iframe src="http://player.vimeo.com/video/65854488?title=0&amp;byline=0&amp;portrait=0" width="890" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </article>
</section>

<section id="concept" class="page-section project-section">
    <article class="container">
        <figure>
            <img src="/images/adobe/slide_01.png" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Adobe has been looking to create a tablet-based application to allow teams or group of friends to edit videos using a cloud-based service. Adobe Reel allows you to upload and share assets, create your own reels as well as remake existing videos your friends has posted.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="page-section project-section project-section--double-image">
    <article class="container">
        <figure>
            <img src="/images/adobe/slide_04.png" alt="">
            <img src="/images/adobe/slide_05.png" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                The app is based around three main sections: Assets, Projects and Reels. Group of friends  participating in a project can share assets and organise them into bins.Each of a member can create a reel, comment on other reels and invite their own friends to play.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="page-section project-section">
    <article class="container">
        <figure>
            <img src="/images/adobe/slide_07.png" alt="">
            <figcaption>
                <h3 class="title">Cloud based</h3>
                The idea of the aplication was to leverage processing video files to a cloud computing service. Once someone adds new assets to his project, the fiels are being uploaded to serves, which decode and compress footage into different qualities - for work/draft and publishing purposes.
            </figcaption>
        </figure>
    </article>
</section>


<section id="mechanic" class="page-section project-section project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/adobe/promo_01.png" alt="">
            <img src="/images/adobe/promo_02.png" alt="">
            <img src="/images/adobe/promo_03.png" alt="">
        </figure>
    </article>
</section>


{{!--
<section id="mechanic" class="page-section project-section project-section--double-caption">
    <article class="container">
        <figure>
            <img src="/images/apple_03.png" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
            <figcaption>
                <h3 class="title">&nbsp;</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section> --}}

<section class="more-section">
    <a href="/projects/bbc.html">
        BBC Family Hub
        <small>Next project</small>
    </a>
</section>
