---
title: "Think Different, Think Ipad"
body_class: "project"
tags:
    - project
---
<section id="brief" class="page-section project-section project-section--with-title">
    <article class="container">
        <h1 class="title">Think Different, Think Ipad</h1>
        <figure>
            <img src="/images/apple_01.png" alt="">
            <figcaption>
                <h3 class="title">Brief</h3>
                Apple has recently released iPad textbook software,
                allowing teachers to make textbooks directly for iPad.
                Therefore I have created short animation of a mad scientist
                that uses iPad to help him teach about space.
            </figcaption>
        </figure>
    </article>
</section>

<section id="concept" class="page-section project-section">
    <article class="container">
        <figure>
            <img src="/images/apple_02.png" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="page-section project-section">
    <article class="container">
        <figure>
            <img src="/images/apple_03.png" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="page-section project-section project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/apple_03.png" alt="">
            <img src="/images/apple_03.png" alt="">
            <img src="/images/apple_03.png" alt="">
        </figure>
    </article>
</section>

<section id="mechanic" class="page-section project-section project-section--double-image">
    <article class="container">
        <figure>
            <img src="/images/apple_03.png" alt="">
            <img src="/images/apple_03.png" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="page-section project-section project-section--double-caption">
    <article class="container">
        <figure>
            <img src="/images/apple_03.png" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
            <figcaption>
                <h3 class="title">&nbsp;</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section>

<section class="more-section">
    <a href="/">
        Adobe Reel Cut
        <small>Next project</small>
    </a>
</section>
