---
title: "Think Different, Think Ipad"
body_class: "project"
tags:
    - project
---
<section id="brief" class="project-section--with-title">
    <article class="container">
        <h1 class="title">Think Different, Think Ipad <small>&mdash; Technology makes school fun again &mdash;</small></h1>
        <figure>
            <iframe src="http://player.vimeo.com/video/42332740?title=0&amp;byline=0&amp;portrait=0" width="800" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <figcaption>
                <h3 class="title">Brief</h3>
                The brief was to create a 3D model of a mascott for a chosen company.
                A short animation should have show a full skeleton animation with a detailed environment.
            </figcaption>
        </figure>
    </article>
</section>

<section id="concept" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/apple/final-02.png" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Apple has recently released iPad textbook software,
                allowing teachers and publishers to make textbooks directly for iPad,
                this turned to be a perfect opportunity for a 3D masctott that coule be used
                in TV spots or as an online advertisement - A clumsy science teacher,
                looking a lot like Steve Jobs that used iPads to teach about wonders of the universe.
            </figcaption>
        </figure>
    </article>
</section>

<section id="character" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/apple/final-04.jpg" alt="">
            <figcaption>
                <h3 class="title">Character</h3>
                I really like how a 3D animation allows you to have huge control over the style and level of detail of the models.
                Since my animation was mainly aimed at children and educational sector - I wanted to keep this cartoony feel to it.
                The science teacher was meant to look like Steve Jobs, but a bit clumsy with technology, which would get him set in funny situations.
            </figcaption>
        </figure>
    </article>
</section>

<section id="character-more" class="project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/apple/character-03.jpg" alt="">
            <img src="/images/apple/character-01.jpg" alt="">
            <img src="/images/apple/character-02.jpg" alt="">
        </figure>
    </article>
</section>

<section id="environment" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/apple/final-01.png" alt="">
            <figcaption>
                <h3 class="title">Environment</h3>
                Like with the style of the character, I wanted the environment to express the childish and cartoony setting.
                The propotions of furtiture or shape of the door is skewed and changed for such reason.
                The soft lighting gives the whole situation welcoming and warm feeling, which grabs attention.
            </figcaption>
        </figure>
    </article>
</section>

<section id="environment-more" class="project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/apple/environment-02.jpg" alt="">
            <img src="/images/apple/environment-01.jpg" alt="">
            <img src="/images/apple/environment-03.jpg" alt="">
        </figure>
    </article>
</section>

<section class="more-section">
    <a href="/">
        /
        <small>Back to home page</small>
    </a>
</section>
