---
title: "BBC Family Hub"
body_class: "project"
tags:
    - project
---
<section id="brief" class="project-section--with-title">
    <article class="container">
        <h1 class="title">BBC Family Hub <small>&mdash; Bringing parents and their children closer together &mdash;</small></h1>

        <figure>
            <img src="/images/bbc/slide_01.jpg" alt="">
            <figcaption>
                <h3 class="title">Brief</h3>
                Cbeebies was looking to expand their section for parents, to create a didigtal ecosystem that is engaging both children and adults together in the Cbeebies experience. The solution should work across Mobile, Connected TV, Tablet and Desktop. Our team has chosen to create an experience for parents to oversee how their children are behaving. Family Hub is a central thing to capture the learning curve of each child.
            </figcaption>
        </figure>
    </article>
</section>

<section id="concept" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/bbc/concept.png" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Our approach focused on the learning aspects of Cbeebies and how interactive games, Tv shows could be measured and provided with analytics for parents to take action.
                We came up with an app where a parent can monitor how child develops while watching or playing games and set challanges or curate the content fed through TV or the Cbeebies website. For each child signed up to the Family Hub a parent can see a detailed overview of learning areas the child performs well in and in which it lacks.
            </figcaption>
        </figure>
    </article>
</section>

<section id="strategy" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/bbc/platforms.png" alt="">
            <figcaption>
                <h3 class="title">Platform strategy</h3>
                We essentially had four platforms to work with: Connected TV, desktop computer, tablet and mobile devices. While a child would consume the content in majority of those platforms, a parent can use any platform to manage and curate the content. Additionally we wanted to make the experience seamless and not make the parent interfering on child's entertainment.
            </figcaption>
        </figure>
    </article>
</section>

<section id="interaction" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/bbc/schematics-1.png" alt="">
            <figcaption>
                <h3 class="title">Interaction</h3>
                We divided our application into two sections, for child and for a parent, each member of the family would have their own account and depdning on who they are they would be presented with either a list of games/programmes to watch or summary of child's performance.
                The general interaction and user journey would follow typical patterns that can be found in many mobile apps, an offscreen menu for quick access, large interactive elements and a responsive design.
            </figcaption>
        </figure>
    </article>
</section>

<section id="visual-design" class="project-section--double-image">
    <article class="container">
        <figure>
            <img src="/images/bbc/slide_02.jpg" alt="">
            <img src="/images/bbc/slide_03.jpg" alt="">
            <figcaption>
                <h3 class="title">Visual design</h3>
                As the aim of Family Hub was to integrate with existing services, we tried to keep existing visual atmosphere that wouldn't be intrusive or disjointed from existing Cbeebies design.
            </figcaption>
        </figure>
    </article>
</section>

<section class="more-section">
    <a href="/projects/enrll.html">
        Enrll - Learn from people
        <small>Next project</small>
    </a>
</section>
