---
title: "Enrll - Learn from people"
body_class: "project"
tags:
    - project
---
<section id="brief" class="project-section--with-title">
    <article class="container">
        <h1 class="title">Enrll - Learn from people</h1>

        <figure>
            <img src="/images/bbc/slide_01.jpg" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Cbeebies was looking to expand their section for parents, to create a didigtal ecosystem that is engaging both children and adults together in the Cbeebies experience. The solution should work across Mobile, Connected TV, Tablet and Desktop. Our team has chosen to create an experience for parents to oversee how their children are behaving. Family Hub is a central thing to capture the learning curve of each child.
            </figcaption>
        </figure>
    </article>
</section>

<section id="concept" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/bbc/slide_02.jpg" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                Cbeebies was looking to expand their section for parents, to create a didigtal ecosystem that is engaging both children and adults together in the Cbeebies experience. The solution should work across Mobile, Connected TV, Tablet and Desktop. Our team has chosen to create an experience for parents to oversee how their children are behaving. Family Hub is a central thing to capture the learning curve of each child.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/bbc/slide_03.jpg" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/bbc/slide_03.jpg" alt="">
            <img src="/images/bbc/slide_03.jpg" alt="">
            <img src="/images/bbc/slide_03.jpg" alt="">
        </figure>
    </article>
</section>

<section id="mechanic" class="project-section--double-caption">
    <article class="container">
        <figure>
            <img src="/images/bbc/slide_01.jpg" alt="">
            <figcaption>
                <h3 class="title">Mechanic</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
            <figcaption>
                <h3 class="title">&nbsp;</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Etiam nulla nunc, lobortis nec nibh sed interdum faucibus eros.
                Aliquam erat volutpat. Aenean tincidunt erat vel vulputate fermentum.
                Donec blandit justo vitae metus pellentesque orci aliquam.
            </figcaption>
        </figure>
    </article>
</section>

<section class="more-section">
    <a href="/projects/adidas.html">
        Adidas Sync
        <small>Next project</small>
    </a>
</section>
