---
title: "Learn the SLR"
body_class: "project"
tags:
    - project
---
<section id="brief" class="project-section--with-title">
    <article class="container">
        <h1 class="title">Learn the SLR <small>- Learn how to use a Single Reflex Lens camera -</small></h1>

        <figure>
            <img src="/images/slr/slide_01.jpg" alt="">
            {{!-- <figcaption>
                <h3 class="title">Concept</h3>
                Cbeebies was looking to expand their section for parents, to create a didigtal ecosystem that is engaging both children and adults together in the Cbeebies experience. The solution should work across Mobile, Connected TV, Tablet and Desktop. Our team has chosen to create an experience for parents to oversee how their children are behaving. Family Hub is a central thing to capture the learning curve of each child.
            </figcaption> --}}
        </figure>
    </article>
</section>

<section id="concept" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/slr/03_aperture.png" alt="">
            <figcaption>
                <h3 class="title">Concept</h3>
                The project was to create an interactive piece celebrating a design classic. I have chosen an iconic Nikon F, a firt Single Lens Reflex camera with a unified and compact body. This camera has revolutionised photojournalism. My approach to the project was to create a mobile app, to educate people how to use that camera to take better pictures. I tried to replicate the interface of a camera to provide seamless understanding.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="project-section--reversed">
    <article class="container">
        <figure>
            <img src="/images/slr/schematics-01.jpg" alt="">
            <figcaption>
                <h3 class="title">Interaction</h3>
                As the app was purposed for education purposes, the interaction has to allow a person to quickly browse/change through the lessons. The challenge was to filter down the list of topics and make the navigation easily followed.
            </figcaption>
        </figure>
    </article>
</section>

<section id="concept" class="project-section">
    <article class="container">
        <figure>
            <img src="/images/slr/schematics-03.jpg" alt="">
            <figcaption>
                <h3 class="title">Wireframes</h3>
                I have gone through a number of iterations before settling down on design that works well. Key objectives was to focus on one element of the camera at the time, for example only aperture levels. This would allow a person to fully understand what is special about that feature.
            </figcaption>
        </figure>
    </article>
</section>

<section id="mechanic" class="project-section--triple-image">
    <article class="container">
        <figure>
            <img src="/images/slr/sketchbook-01.jpg" alt="">
            <img src="/images/slr/sketchbook-02.jpg" alt="">
            <img src="/images/slr/sketchbook-03.jpg" alt="">
        </figure>
    </article>
</section>

<section id="mechanic" class="project-section">
    <article class="container">
        <figure>
            <iframe src="http://player.vimeo.com/video/38063793?title=0&amp;byline=0&amp;portrait=0" width="800" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <figcaption>
                <h3 class="title">The Build</h3>
                I have used Adobe Flex technology to export a working Flash-based app into an Android aplication that's ready to distribute. The key challenge was to adapt the design to different screen sizes
            </figcaption>
        </figure>
    </article>
</section>

<section class="more-section">
    <a href="/projects/apple.html">
        Think Different, Think Ipad
        <small>Next project</small>
    </a>
</section>
