/**
 * Projects list - up to 768px
 *
 * 	$mq-level1: 1200px;
 *	$mq-level2: 1000px;
 *	$mq-level3: 725px;
 *	$mq-level4: 580px;
 *	$mq-level5: 360px;
 */

@media screen and (max-width: $mq-level4){
	.projects-list{
		@include flex-direction(column);
		@include flex-wrap(wrap);

		font-size: 1.25em;
		margin: 0;
	}

	.projects-list__item{
		width: 100%;
		margin: 0 0 20px;
	}
}
