---
title: "Bobby Bobak - UI/UX Designer based in Manchester"
body_class: "homepage is-over-picture has-header-image"
---
<section class="page-section landing" id="landing">

    <div class="slider-component">

        <ul class="slider slider-motion slider-component--slides slider-component--slides__motion">
           <li class="slide1">
                <section class="motion-intro">
                    <article class="screen1">
                        <img src="images/motion-plug-in.png" alt="">
                        <h2>Plug-in your Leap Motion device now...</h2>
                        <strong>or watch it in action <a href="#">here.</a></strong>
                    </article>
                </section>
           </li>
           <li class="slide2">Slide 2</li>
           <li class="slide3">Slide 3</li>
        </ul>

        <ul class="slider slider-speech slider-component--slides slider-component--slides__speech">
           <li class="slide1">
                <section class="motion-intro">
                    <article class="screen1">
                        <img src="images/motion-plug-in.png" alt="">
                        <h2>Plug-in your Leap Motion device now...</h2>
                        <strong>or watch it in action <a href="#">here.</a></strong>
                    </article>
                </section>
           </li>
           <li class="slide2">Slide 2</li>
           <li class="slide3">Slide 3</li>
        </ul>

        <a href="#" class="slider-component--link slider-component--link__prev"><span class="fa fa-chevron-left"></span></a>
        <a href="#" class="slider-component--link slider-component--link__next"><span class="fa fa-chevron-right"></span></a>
    </div>

    <article class="container">
        <!-- SVG GOES HERE -->
        {{!-- <svg width="600" height="600">
            <path id="arc1" fill="none" stroke="#446688" stroke-width="20" />
        </svg> --}}
    </article>

    <ul class="devices">
        <li>
            <a class="desktop" href="#">
                <span class="fa fa-location-arrow"></span> Mouse
            </a>
        </li>
        <li>
            <a class="motion" href="#">
                <span class="fa fa-hand-o-up"></span> Leap Motion
            </a>
        </li>
        <li>
            <a class="speech" href="#">
                <span class="fa fa-microphone"></span> Speech
            </a>
        </li>
    </ul>
</section>

<section class="page-section work">
    <article class="container">
        <h1>Recent projects</h1>

        <ul class="projects">
            <li>
                <a href="/projects/adobe.html">
                    <img src="/images/thumb1.png" alt="Adobe Reel Cut">
                    <h4>Adobe Reel Cut</h4>
                </a>
            </li>
            <li>
                <a href="/projects/bbc.html">
                    <img src="/images/thumb4.png" alt="BBC Family Hub">
                    <h4>BBC Family Hub</h4>
                </a>
            </li>
            <li>
                <a href="/projects/enrll.html">
                    <img src="/images/thumb3.png" alt="Enrll - Learn from people">
                    <h4>Enrll - Learn from people</h4>
                </a>
            </li>
        </ul>

        <ul class="projects">
            <li>
                <a href="/projects/adidas.html">
                    <img src="/images/thumb5.png" alt="Adidas Sync">
                    <h4>Adidas Sync</h4>
                </a>
            </li>
            <li>
                <a href="/projects/learn-the-slr.html">
                    <img src="/images/thumb2.png" alt="Learn the SLR app">
                    <h4>Learn the SLR app</h4>
                </a>
            </li>
            <li>
                <a href="/projects/apple.html">
                    <img src="/images/thumb6.png" alt="Apple - Think Different Think iPad">
                    <h4>Apple - Think Different Think iPad</h4>
                </a>
            </li>
        </ul>

    </article>
</section>


<section class="page-section posts">
    <article class="container">
        <h1>Recent posts</h1>

        <ul class="posts-list">
            <li>
                <a href="post.html">
                    Yo assemble these <small>22nd March 2013</small>
                    <span class="icon fa fa-chevron-right"></span>
                </a>
            </li>
            <li>
                <a href="post.html">
                    Multiple Video.js clips <small>22nd March 2013</small>
                    <span class="icon fa fa-chevron-right"></span>
                </a>
            </li>
            <li>
                <a href="post.html">
                    Node.js and redirecting back after login <small>22nd March 2013</small>
                    <span class="icon fa fa-chevron-right"></span>
                </a>
            </li>
        </ul>
    </article>
</section>

<section class="page-section posts" id="profile">
    <article class="container">
        <h1>About</h1>

        <p>Bobby&nbsp;Bobak is a&nbsp;digital&nbsp;designer with passion for interaction. Based in Manchester, United Kingdom</p>
    </article>
</section>
