---
title: "Bobby Bobak - UI/UX Designer based in Manchester"
body_class: "homepage is-over-picture has-header-image"
---
<section class="page-section landing" id="landing">
    {{> slides }}

    <article class="container">
        <!-- SVG GOES HERE -->
    </article>

    {{> devices}}
</section>

<section class="page-section work">
    <article class="container">
        <h1>Recent projects</h1>

        {{> recent-projects}}
    </article>
</section>

<section class="page-section posts">
    <article class="container">
        <h1>Recent posts</h1>

        {{> recent-posts}}
    </article>
</section>

<section class="page-section profile" id="profile">
    <article class="container">
        <h1>About</h1>

        <p>Bobby&nbsp;Bobak is a&nbsp;digital&nbsp;designer with passion for interaction. Based in Manchester, United Kingdom</p>
    </article>
</section>
