---
body_class: "homepage is-over-picture has-header-image"
---
<section class="page-section landing" id="landing">
    {{> slides }}

    <article class="container">
        <!-- SVG GOES HERE -->
    </article>

    {{> devices}}
</section>

<section class="page-section work">
    <article class="container">
        <h1>Recent projects</h1>

        {{> recent-projects}}
    </article>
</section>

<section class="page-section posts">
    <article class="container">
        <h1>Recent posts</h1>

        {{> recent-posts}}
    </article>
</section>

<section class="page-section profile" id="profile">
    <article class="container--narrow">
        <h1>About</h1>

        {{!
            Bobby Bobak - Digital Product designer, based in Manchester, UK,

            Coffee and great typography addict, tinkering with web products, visual design and user interfaces - making them work best for non-technical people.

            Currently working at BJL, recent University of Salford Graduate in Design for Digital Media, hustling hard on variety of projects, ranging from video, motion graphics, user-centric design and mobile apps.

        }}

        <div class="profile-picture">
            <img class="profile-picture__image" src="/images/profile.jpg" alt="My face was here">
        </div>

        <h4>Bobby&nbsp;Bobak is a digital product designer, based in Manchester, UK</h4>
        <br>
        <p>Coffee and Typography addict, tinkering with web products, visual design and user interfaces - making them work best for non-technical people.</p>
        <p>Currently working at BJL, recent University&nbsp;of&nbsp;Salford Graduate in Design&nbsp;for&nbsp;Digital&nbsp;Media, hustling hard on variety of projects, ranging from video, motion graphics, user-centric design and mobile apps.</p>
    </article>
</section>
