.devices{
	padding: 0;
	margin: 0;
	list-style: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 30;

	margin: 0 0 98px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;

	-webkit-justify-content: center;
	-moz-justify-content: center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

.devices li{
	-webkit-flex: 1 1 0;
	-moz-flex: 1 1 0;
	flex: 1 1 0;
}

.devices a{
	padding: 30px 0;
	text-align: center;
	font-size: 1.286em;
	text-decoration: none;
	color: #4C4C4C;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	margin: 0;
	display: block;
	width: 100%;
	height: 100px;
}

.devices .fa{
	font-size: 2em;
	margin-right: 1em;
}

.devices.project{
	margin: 0;
}

.devices a:hover,
.devices a.active{
	background: #3C8FCD;
	color: #ffffff;
}

.touch .devices{
	display: none;
}

.desktop{
	background: #BCBCBC;
}

.motion{
	background: #cccccc;
}

.speech{
	background: #E6E6E6;
}

.devices,
.devices li,
.devices li a{

	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.devices a.active{
	background: #364967;
}
