/**
 * Header
 */
header{
	z-index: 10;
	position: fixed;
	left: 20px;
	top: 25px;
	width: 40px;

	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		@include display-flex;

		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-webkit-justify-content: top;
		-moz-justify-content: top;
	}

	li{
		list-style: none;
		margin-bottom: 30px;
	}

	a{
		display: inline-block;
		text-align: center;
		color: #666666;
		background: #E5E5E5;
		padding: 7px 11px;
		z-index: 1;
		font-size: 1.35em;
		text-decoration: none;
		margin: 0;

		@include alter-box-sizing;

		max-width: 40px;
		max-height: 40px;
		width: 40px;
	}

	.no-touch &:hover{
		width: 200px;

		.link-label{
			display: inline-block;
		}
	}

	a:hover{
		color: #ffffff;
		background: #666666;
	}

	.home{
		font-family: "din_blackregular";

		a{
			color: #ffffff;
			background: #3C8FCD;
			padding: 0;
			line-height: 1;
		}

		img{
			width: 40px;
			height: 40px;
			vertical-align: top;
		}

		.link-label{
			font-size: 1.375em;
			vertical-align: top;
			margin-top: 5px;
		}
	}
}

.link-label{
	display: none;
	margin: 0 0 0 1em;
	@include text-shadow( 1px 1px 0px rgba(255,255,255,0.3) );


	.is-over-picture &{
		color: #cccccc;
		@include text-shadow( 1px 1px 0px rgba(0,0,0,0.3) );
	}
}
