/**
 * Header
 */
header{
	z-index: 10;
	position: fixed;
	left: 20px;
	top: 40px;
	width: auto;

	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-webkit-justify-content: top;
		-moz-justify-content: top;
	}

	li{
		list-style: none;
		margin-bottom: 30px;
	}

	a{
		display: inline-block;
		text-align: center;
		color: #666666;
		background: #E5E5E5;
		padding: 7px 10px;
		z-index: 1;
		font-size: 1.35em;
		text-decoration: none;
		margin: 0 1em 0 0;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;

		max-width: 40px;
		max-height: 40px;
	}

	&:hover .link-label{
		display: inline-block;
	}

	.home{
		font-family: "din_blackregular";

		a{
			color: #ffffff;
			background: #3C8FCD;
			padding: 0;
			line-height: 1;
		}

		img{
			width: 40px;
			height: 40px;
		}

		.link-label{
			font-size: 1.375em;
			vertical-align: top;
			margin-top: 5px;
		}
	}
}

.link-label{
	display: none;
}
