
/**
 * #3C8FCD - Blue colour
 */

body {
	background: #ffffff;
	font-family: $fonts-family-base;
	font-size: 100%;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 5px 0 0;
}

body, html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  @include alter-box-sizing;
}

h1,h2,h3,h4,h5,h6{
	font-family: $fonts-family-base;
}


.container{
	width: 1060px;
	margin: 0 auto;
	position: relative;
}

.container > h1{
	line-height: 2;
	border-bottom: 1px solid #f0f0f0;
}

h1{
	font-size: 2.5em;
	line-height: 1.3;
}

h2{
	color: #3C8FCD;
	font-size: 1.857em;
	margin-top: 3em;
}

.hidden{
	display: none;
}

footer{
	width: 25em;
	margin: 1em auto;
	max-height: 100px;

	padding: 20px 0;
	text-align: center;
	color: $colour-black;
	border-bottom: 1px solid $colour-black;
}


.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
