
/**
 * #3C8FCD - Blue colour
 */

body {
	background: #F9F9F9;
	font-family: $fonts-family-base;
	font-size: 100%;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 5px 0 0;
}

body, html {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	font-family: $fonts-family-base;
}

body *{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.container{
	width: 1060px;
	margin: 0 auto;
}



.container > h1{
	line-height: 1.5;
	border-bottom: 1px solid #cccccc;
}

h1{
	font-size: 2.5em;
	line-height: 1.3;
}

h2{
	color: #3C8FCD;
	font-size: 1.857em;
	margin-top: 3em;
}


.canvas{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	left: 0;
}


footer{
	width: 25em;
	margin: 1em auto;
	max-height: 100px;

	padding: 20px 0;
	text-align: center;
	color: $colour-black;
	border-bottom: 1px solid $colour-black;
}

.page-wrap{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
