
/**
 * #3C8FCD - Blue colour
 */

html{
	font-size: 100%;
}

body {
	background: #ffffff;
	font-family: $fonts-family-base;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 0 0 0;
	overflow: hidden;

	// This only over 768px
	// &.is-over-picture{
	// 	padding: 0;
	// }
}

body, html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  @include alter-box-sizing;
}

h1,h2,h3,h4,h5,h6{
	font-family: $fonts-family-base;
}

h1{
	font-size: 2.5em;
	line-height: 1.3;
}

h2{
	color: #3C8FCD;
	font-size: 1.857em;
	margin-top: 3em;
}

/**
 * Container element
 */
.container{
	width: 1060px;
	margin: 0 auto;
	position: relative;
}

.container > h1{
	line-height: 2;
	border-bottom: 1px solid #f0f0f0;
}

.container--narrow{
	@extend .container;
	width: 700px;
}


.hidden{
	display: none;
}

footer{
	width: 25em;
	margin: 1em auto;
	max-height: 100px;

	padding: 20px 0;
	text-align: center;
	color: $colour-black;
	border-bottom: 1px solid $colour-black;
}

.speech_output{
	margin: 0;
}

.profile-picture__image{
	@include border-radius(50%);

	border: 20px solid #fcfcfc;
}
