.posts-list{
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		margin: 0;
		position: relative;
		border-bottom: 1px solid #E6E6E6;

		&:hover{
			background: #f0f0f0;

			.icon{
				color: #666666;
			}
		}
	}

	a{
		display: block;
		color: #3C8FCD;
		font-size: 2em;
		padding: 2em 0;
		text-decoration: none;
	}

	small{
		color: #666666;
		font-style: italic;
		display: block;
	}

	.icon{
		color: #E6E6E6;
		position: absolute;
		right: 20px;
		top: 45%;
	}
}
