.projects{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	li{
		width: 320px;
		margin: 0 0 20px 20px;
		background: $colour-white;
	}

	h4{
		margin: 0;
		padding: 1em 0;
	}

	a{
		text-decoration: none;

		&:visited,
		&:active{
			color: #000000;
		}
	}
}
