.projects{
	margin: 0;
	padding: 0;
	list-style: none;

	@include display-flex;

	li{
		width: 320px;
		margin: 0 0 20px 20px;
		background: $colour-white;

		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;

		img{
			width: 100%;

			-webkit-transition: -webkit-transform 0.1s linear;
			-moz-transition: -moz-transform 0.1s linear;
			-ms-transition: -ms-transform 0.1s linear;
			-o-transition: -o-transform 0.1s linear;
			transition: transform 0.1s linear;
		}

		&:hover{
			img{
				@include scale3d(1.02,1.02,1.02);
			}
		}
	}

	h4{
		margin: 0;
		padding: 1em 0;
	}

	a{
		text-decoration: none;

		&:visited,
		&:active{
			color: #000000;
		}
	}
}
