.top-bar{
	color: #ffffff;
	min-height: 5px;
	background: #3C8FCD;
	width: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 80;

	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	transition: transform 1s;
}
