/**
 * Base styling
 */

.speech .keyword{
	color: $colour-navy !important;

	&:hover{
		&:after{
			/** TODO: Add Microphone icon **/
		}
	}
}

.keyword--hidden{
	@extend .keyword;
	display: none;

	.speech &{
		display: inline;
	}
}

.speech_output{
	@include clearfix;
	display: none;
	padding: 10px 0;
	border-bottom: 3px solid $colour-navy;

	&.active{
		display: block;
	}
}

.speech_output__text{
	margin: 0 20px;
	text-align: center;
}

.speech_output__retry-link{
	color: #ffffff;
	@include opacity(0.3);

	&:hover,
	&:active{
		@include opacity(1);
	}
}
