/**
 * Landscape mobile
 */
@media screen and (max-width: 723px){

	body, html {
	  // height: 100%;
	  	-webkit-overflow-scrolling: touch;
	  	-webkit-text-size-adjust: none;
	}

	body{
		font-size: 12px;
		padding: 40px 0 0 0;
	}

	.page-wrap{
		position: relative;
	}

	.top-bar{
		z-index: 1;
		height: 40px;
		position: fixed;
	}

	.container{
		width: 100%;

		.landing &{
			width: 90%;
		}
	}

	.devices-info,
	.devices{
		display: none;
	}

	.post{
		.title{
			text-align: left;
		}

		.container{
			width: 90%;
			padding: 0 5%;
		}
	}

	.container--narrow{
		width: 90%;
		padding: 0 5%;
	}

	h1{
		font-size: 2em;
	}

	footer{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.projects{
		li{
			margin: 0;
		}

		img{
			width: 100%;
		}

	}

	.posts-list{
		a{
			padding: 1em 5%;
			text-align: left;
			font-size: 1.5em;
		}

		small{
			margin-top: 0.5em;
			font-style: normal;
		}

	}

	/**
	 * SVG image
	 */
	svg{
		width: 100% !important;
		height: 100%;
	}


	.project-section{
		figure{
			-webkit-flex-flow: column wrap;
			-moz-flex-flow: column wrap;
			-ms-flex-flow: column wrap;
			flex-flow: column wrap;
			order: 1;
		}

		figure img,
		iframe{
			order: 1;
			margin: 3% 0;
			// margin-right: 0;
			width: 100%;
		}

		iframe{
			height: 240px;
		}

		figure figcaption{
			text-align: left;
			margin: 1em 5%;
			width: 90%;
			order: 2;
		}
	}

}

/**
 * Portrait devices
 */
@media screen and (max-width: 360px){

	body{
		font-size: 12px;
	}

	.projects{
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;

		width: 100%;

		 li{
		 	width: 100%;
		 	margin: 0;
		 }
	}

}



