
@media screen and (max-width: 568px){

	body, html {
	  height: auto;
	}

	body{
		padding: 40px 0 0 0;
	}

	.page-wrap{
		position: relative;
	}

	.top-bar{
		z-index: 1;
		height: 40px;
		position: fixed;
	}

	header{
		top: 0;
		left: 0;
		width: 100%;

		li{
			margin: 0;
		}

		ul{
			top: 0;
			width: 100%;
			-webkit-flex-flow: row wrap;
			-moz-flex-flow: row wrap;
		}

		a{
			margin: 0;
		}

		&:hover .link-label{
			display: none;
		}

		.home{
			-webkit-flex: 1 0 0;
			-moz-flex: 1 0 0;
			-ms-flex: 1 0 0;
			flex: 1 0 0;

			.link-label{
				color: #ffffff;
				display: inline-block;
			}
		}
	}

	.container{
		width: 100%;
	}

	.devices-info,
	.devices{
		display: none;
	}

	.post{
		.title{
			text-align: left;
		}

		.container{
			width: 90%;
			padding: 0 5%;
		}
	}

	h1{
		font-size: 2em;
	}

	footer{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.projects li{
		margin: 0;
	}

	.posts-list{
		a{
			padding: 0.75em 5%;
			text-align: left;
			font-size: 1.5em;
		}

	}
}




