/**
 * Generic tablet
 */
@media screen and (max-width: 1000px){
	.container{
		width: 100%;
	}

	.page-section,
	.project-section--with-title,
	.project-section--with-title h1,
	.project-section{
		padding: 1em 0;
	}

	figure,
	.project-section:nth-child(even) figure{
		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		order: 1;
	}

	figure img{
		order: 1;
		margin: 0;
		width: 100%;
	}

	figure figcaption,
	.project-section:nth-child(even) figcaption{
		text-align: left;
		margin: 1em 5%;
		width: 90%;
		order: 2;
	}


	/**
	 * Section with two images and one caption box
	 */
	.project-section--double-image{

		img{
			width: 100%;

			&:first-child{
				margin-bottom: 1em;
			}
		}
	}

	/**
	 * Section with three images and no caption box
	 */
	.project-section--triple-image{

		figure{
			-webkit-flex-flow: row wrap !important;
			-moz-flex-flow: row wrap !important;
			-ms-flex-flow: row wrap !important;
			flex-flow: row wrap !important;
		}

		img{
			width: 32%;
			margin-left: 2%;

			&:first-child{
				margin-left: 0;
			}
		}
	}

}

/**
 * Medium Tablet
 */
@media screen and (min-width: 569px) and (max-width: 1000px){

	.projects{
		li{
			width: 30%;
			margin: 0 0 20px 2.5%;
		}

		img{
			width: 100%;
		}
	}

}
